* {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: black;
    font-size: 35px;
}
header {
    background-color: #69C96E;
    padding: 50px;
    justify-items: center;
}

#addBookBtn {
    font-size: 15px;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    margin: 20px;
}

#library {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

div .cards {
    display: grid;
    background-color: rgb(237, 237, 241);
    margin: 20px;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    justify-content: left;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}

